/* bütün csslere etki ediyor tüm elemenetlere uygulanacak */
*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Unbounded', sans-serif;
    list-style: none;
    text-decoration: none;
}
/* root da bir değişken tanımlıyoruz ve bu değişkeni her yer de kullanabiliyoruz */
:root {
    --bg-color: #020312;
    --text-color: #fff;
    --primary-color: #eb4a4a;
    --secondary-color: grey;
    --h1-font: 5rem;
    --h2-font: 3rem;
    --h3-font: 2rem;
    --h4-font: 1.5rem;
    --h5-font: 1.5rem;
    --p-font: 1rem;
    --a-transition: all .40s ease;
    --a-font: 1.2rem;  
    --h6-font: 1rem;
    --box-background: #12141c;
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    display: flex;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: 25px 15%;

}
.logo img{
    width: 150px;
    height: auto;
}

.navbar{
    display: flex;
}

.navbar a{
    color: var(--secondary-color);
    font-size: var(--p-font);
    padding: 10px 25px;
    transition: all .40s ease; /* imleç üzerine geldiğinde yavaş geçiş */
    border-radius: 0.6rem;
}

.navbar a:hover{
    background-color: var(--primary-color);
    color: var(--text-color);
}

section{
    padding: 200px 15% 90px;
}

.home{
    width: 100%;
    height: 80vh;
    max-width: 100%; /* maismum yüzde 100 olacak */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url("/images/background.jpg");
    background-size: cover;
    background-position: center;  
}
.home-text h4{
    color:var(--primary-color);
    font-size: var(--h4-font);
    font-weight: 600;
}

.home-text h1{
    font-size: var(--h1-font);
    font-weight: bold;
    margin: 20px 0;
    line-height: 1.2;
    letter-spacing: 2px;
}

.home-text span{
    color: var(--primary-color);
}

.home-text h3{
    font-size: var(--h3-font);
    font-weight: 600;
    margin-bottom: 2rem;
}

.btn{
    font-size: var(--a-font);
    font-weight: 600;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 15px 40px;
    border-radius: 0.8rem;
}

.btn:hover {
    background-color: transparent;
    opacity: 0.7;
    border: solid 1px var(--primary-color);
    transition: var(--a-transition);
}

header.sticky{
    background-color: var(--bg-color);
    border: solid 1px var(--bg-color);
}

.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.about-text h4{
    color: var(--primary-color);
    font-size: var(--h4-font);
    font-weight: 600;
}

.about-text h2{
    font-size: var(--h2-font);
}

.about-text p{
    font-size: var(--p-font);
    color: var(--secondary-color);
    line-height: 25px;
    margin-bottom: 1rem;
}

.about-features{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.about-features h5{
    font-size: var(--h5-font);
    font-weight: 600;
    margin-bottom: 1rem;
}

.about-img img{
    width: 100%;
    height: auto;
    max-width: 450px;
}

.main-text {
    text-align: center;
}

.main-text h2 {
    font-size: var(--h2-font);
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.main-text h4 {
    font-size: var(--h4-font);
    font-weight: 600;
    margin-bottom: 10px;
}

.services-content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 10px;
    margin-top: 4rem;
    text-align: center;
}

.box {
    background:#12141c;
    padding: 20px;
    border-top: solid 5px transparent;
    border-radius: 0.8rem;
}

.box h3{
    margin-top: 1rem;
    color: var(--text-color);
    font-size: var(--h3-font);
}

.box p{
    color:var(--secondary-color);
    margin-top: 20px;
    line-height: 1.4rem;
}

.box:hover {
    border-top: 5px solid var(--primary-color);
    transition: var(--a-transition);
}

.box:hover h3 {
    color: var(--primary-color)
}

.portfolio-content{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    align-items: center;
    gap: 1.5rem;
    text-align: center;
}

.portfolio-box{
    background:#12141c;
    border-radius: 2rem;
    padding: 15px;
    border-top: 5px solid transparent;
    
    
}

.portfolio-box img{
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.portfolio-box h6{
    color: var(--primary-color);
    font-size: var(--h6-font);
}

.portfolio-box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.portfolio-box-text h6{
    font-size: var(--h6-font)
}

.portfolio-box h3{
    text-align: left;
    font-size: var(--h3-font);
    color:var(--text-color)
}

.portfolio-box:hover {
    border-top: solid var(--primary-color);
    transition: var(--a-transition);
}

.fas-fa-heart {
    color: var(--text-color);
}

.fas-fa-heart:active {
    color: var(--primary-color);
}

.contact {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: auto;
    gap: 2rem;
}

.contact-text h2 {
    color: var(--text-color);
    font-size: var(--h2-font);
    margin-bottom: 1rem;
}

.contact-text h4{
    color: var(--primary-color);
    font-size: var(--h4-font);
    margin-bottom: 1rem;
}
.contact-text{
    width: 100%;
}

.contact-text p{
    color:var(--secondary-color);
    font-size: var(--p-font);
    margin-bottom: 1rem;
}

.contact-text a{
    color: var(--text-color);
    font-size: var(var(--a-font));
    display: block;
    margin-bottom: 2rem;
}

.contact-icons{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
}

.contact-icons a{
    color: var(--primary-color);
    background:var(--box-background);
    padding: 1.5rem; 
    border-radius: 1rem;
}

.contact-icons a:hover{
    box-shadow: 2px 2px 5px #fc894d;
}

.submit-box {
    width: 30%;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    margin-left: 0.8rem;
}

.submit-box:hover{
    cursor: pointer;
    box-shadow: 2px 2px 5px white;
}

.submit-box:active {
    transition: var(--a-transition);
}

.contact-form input, textarea{
    width: 100%;
    padding: 2rem;
    background-color: var(--box-background);
    margin: 0.5rem;
    border-radius: 1rem;
    border:none;
    color: var(--text-color);
}

.contact-form textarea{
    position: relative;
    padding: 5rem;
    padding-left: 7.5%;
}
